@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Shade', cursive;
}

.keyboard {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5% 0 2.5% 0;
}

.keyboard-row {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 2px 0 2px 0;
}

.key {
  width: 50px;
  height: 50px;
  margin: 0 2px 0 2px;
  border-style: solid;
  border-radius: 10%;
}

.space {
  width: 500px;
  height: 80px;
  border-style: solid;
  border-radius: 3%;
}

.clicked {
  transform: scale(1.1);
  border-color: #ff7f50;
  box-shadow: 0 0 3rem #ff7f50;
}

.assigned {
  background-color: brown;
}

.visualizer {
  width: 30%;
  height: 80px;
}
