@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Shade', cursive;
  background-image: url('./Minimalist-Background-HD.png');
}

p {
  margin: 0;
}

.keyboard {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 2px 0 2px 0;
}

.key {
  width: 50px;
  height: 50px;
  margin: 0 1px 0 1px;
  border-style: solid;
  border-radius: 10%;
}

.space {
  width: 500px;
  height: 80px;
  border-style: solid;
  border-radius: 3%;
}

.clicked {
  transform: scale(1.1);
  border-color: #ff7f50;
  box-shadow: 0 0 3rem #ff7f50;
}

.assigned {
  background-color: brown;
}

.visualizer {
  width: 30%;
  height: 80px;
}

.main-components {
  display: flex;
  justify-content: center;
  margin: 6% 0 1% 0;
}

.recorder-btns {
  width: 25%;
  align-self: center;
}

.youtube-body {
  width: 25%;
  align-self: center;
}

#soundClips {
  margin-top: 2.5%;
}
